<a href="https://colab.research.google.com/github/n200534/DSA/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
adj=["red","big","tasty"]
fruits=["apple","cheery","banana"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red cheery
red banana
big apple
big cheery
big banana
tasty apple
tasty cheery
tasty banana

In [ ]:
n=10
for i in range(n):
  for j in range(i):
    print("* ",end="")
  print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
n=5
for i in range(1,n):
  for j in range(1,i):
    print(j,end="")
  print()

1
12
123

In [ ]:
for i in range(5):
  for j in range(5-i):
    print("*",end="")
  print()

*****
****
***
**
*

In [ ]:
n=5
for i in range(1,n):
  for j in range(i):
    print(i,end="")
  print()

1
22
333
4444

In [ ]:
for i in range(1,5):
  for j in range(1,5-i+1):
    print(j,end="")
  print()

1234
123
12
1

In [ ]:
rows = 5
for i in range(1, rows + 1):                     # Outer loop: row number
    for space in range(rows - i):                # Print leading spaces
        print(" ", end="")
    for star in range(2 * i - 1):                # Print stars
        print("*", end="")
    print()                                      # Move to next line

    *
   ***
  *****
 *******
*********

In [23]:
rows = 4
for i in range(1, rows + 1):
    for j in range(i):
        # If (i + j) is even, print 1; else print 0
        print((i + j) % 2, end="")
    print()

1
01
101
0101

In [24]:
n = 3
for i in range(1, n + 1):
    # Print increasing numbers
    for j in range(1, i + 1):
        print(j, end="")

    # Print spaces
    spaces = 2 * (n - i)
    print(" " * spaces, end="")

    # Print decreasing numbers
    for j in range(i, 0, -1):
        print(j, end="")

    print()  # Move to next line

1    1
12  21
123321

In [28]:
n=5
num=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num,end="")
    num+=1
  print()

1
23
456
78910
1112131415

In [29]:
for i in range(4):
  for char in range(ord("A"),ord("A")+i+1):
    print(chr(char),end="")
  print()

A
AB
ABC
ABCD

In [37]:
n = int(input("Enter starting number of letters (e.g., 4 for ABCD): "))
for i in range(0, n ):
    for j in range(0, n - i):
        print(chr(ord("A")+ j), end="")
    print()

Enter starting number of letters (e.g., 4 for ABCD): 4
ABCD
ABC
AB
A

In [45]:
for i in range(1,5):
  for j in range(i):
    print(chr(ord("A")+i-1),end="")
  print()

A
BB
CCC
DDDD

In [56]:
n = 5
for i in range(n):
    # Left space
    for j in range(1, n - i + 1):
        print(" ", end="")

    char = "A"
    breakpoint = (2 * i + 1) // 2

    for j in range(2 * i + 1):
        print(char, end="")

        # Increment or decrement character
        if j < breakpoint:
            char = chr(ord(char) + 1)
        else:
            char = chr(ord(char) - 1)

    # Right space (optional — not needed for pyramid shape)
    for j in range(1, n - i + 1):
        print(" ", end="")

    print()

     A
    ABA
   ABCBA
  ABCDCBA
 ABCDEDCBA

In [65]:
n = 5
for i in range(n):
    start_char = ord('E') - i  # Starting character for the row
    for j in range(i + 1):
        print(chr(start_char + j), end="")
    print()

E
DE
CDE
BCDE
ABCDE

In [73]:
n=5
init_space=0
for i in range(n):
  #stars
  for j in range(1,n-i):
    print("*",end="")
  #spaces
  for j in range(init_space):
    print(" ",end="")



  #stars
  for j in range(1,n-i):
    print("*",end="")
  init_space+=2
  print()
init_space=8
for i in range(1,n):
    #stars
  for j in range(1,i):
    print("*",end="")
  #spaces
  for j in range(init_space):
    print(" ",end="")



  #stars
  for j in range(1,i):
    print("*",end="")
  init_space-=2
  print()

********
***  ***
**    **
*      *


*      *
**    **
***  ***